@using originalstoremada.C_
@using originalstoremada.Models.Devis.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using originalstoremada.Services
@model IEnumerable<originalstoremada.Models.Devis.Views.VDevisInfo>

@{
    ViewBag.Title = "title";
    Layout = RoutePath.ContentAdmin();
    List<VDevisInfo> devis = (@ViewBag.devis != null ? @ViewBag.devis : null)!;
  Pagination<VDevisInfo> paginations = ViewBag.paginations;
}

<!-- Page Title -->
<div class="pagetitle">
  <h1>Tous les devis</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a>Tous les devis</a></li>
      <li class="breadcrumb-item active"></li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<div class="row">
  <div class="col-md-12">
    <div class="tab2-wrap">
      
      <table class="tab2 table-responsive-xl">
        <thead>
        <tr>
          <th colspan="6">
            <a asp-action="Index" asp-route-type="0" type="button" class="btn btn@(ViewBag.type!=0?"-outline":"")-secondary">Tous</a>
            <a asp-action="Index" asp-route-type="2" type="button" class="btn btn@(ViewBag.type!=2?"-outline":"")-secondary">En Attente de confirmation</a>
            <a asp-action="Index" asp-route-type="3" type="button" class="btn btn@(ViewBag.type!=3?"-outline":"")-secondary">Confirmer && Versement incomplet</a>
            <a asp-action="Index" asp-route-type="4" type="button" class="btn btn@(ViewBag.type!=4?"-outline":"")-secondary">Versement complet</a>
            <a asp-action="Index" asp-route-type="5" type="button" class="btn btn@(ViewBag.type != 5 ? "-outline" : "")-secondary">Invalide</a>
            <a asp-action="Index" asp-route-type="6" type="button" class="btn btn@(ViewBag.type!=6?"-outline":"")-secondary">Déjà Livré</a>
          </th>
        </tr>
        </thead>
        <thead>
        <tr>
          <th class="pal6_bg2 text-white">&nbsp;</th>
          <th class="pal6_bg2 text-white">Client</th>
          <th class="pal6_bg2 text-white">Numero Devis</th>
          <th class="pal6_bg2 text-white">Total</th>
          <th class="pal6_bg2 text-white">Cours Euro</th>
          <th class="pal6_bg2 text-white">Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in devis)
        {
          <tr class="alert" role="alert">
            <td>
              <a asp-action="Details" asp-route-id_devis="@item.Id" class="btn btn-sm but2-mod3">
                <i class="fa fa-eye"></i><span>Consulter</span>
              </a>
            </td>
            <td>
              <div class="pl-3 email">
                <span>@item.Client.Nom @item.Client.Prenom</span>
                <span>@item.Client.Mail</span>
              </div>
            </td>
            <td>
              <div class="pl-3 email">
                <span>Devis #@Formattage.Numero(item.Id) </span>
                <span>
                  @if (!item.EtatPayement)
                  {
                    <a asp-action="Payement" asp-route-id_devis="@item.Id" class="btn but2-mod1 btn-sm">
                      <i class="fa fa-bell text-danger"></i>
                      <span><strong class="text-danger">Une Payement non Confirmé</strong></span>
                    </a>
                  }
                </span>
              </div>
            </td>
            <td> 
              <div class="pl-3 email">
                <span>@Formattage.Valeur(item.TotalPrixAriary1) MGA</span>
                <span>@Formattage.Valeur(item.TotalPrixEuro) <i class="fa fa-euro"></i></span>
              </div>
                
            </td>
            <td>
              @(item.CoursDevis==null? $"{Formattage.Valeur((double)item.CoursEuro)} MGA (instable)" : $"{Formattage.Valeur((double)item.CoursDevis)} MGA (Fix)") )
            </td>
            <td>
              <button class="btn btn-outline-@item.EtatActuel.Color disabled fw-bold"><i class="fa fa-circle-o"></i> @item.EtatActuel.Etat</button>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="pagin1">
    <a asp-action="Index" asp-route-IsPag="true" asp-route-pagId="@(paginations.PageId -1)" class="@(paginations.PageId == 1 ? "page-disabled" : "")" title="previous page"><i class="fa fa-chevron-left"></i></a>
    @if (paginations.PageId > 1 && paginations.PageId > 4)
    {
                             
      <a asp-action="Index" asp-route-IsPag="true"  asp-route-pagId="1">1</a>
      @if (paginations.PageId > 5)
      {
        <span class="page-dots">...</span>
      }
    }
    @for (int i = paginations.PageId - 3; i <= paginations.PageId + 3; i++)
    {
      @if (i > 0 && i <= paginations.TotalPages)
      {
        <a asp-action="Index" asp-route-IsPag="true"  asp-route-pagId="@i" class="@(paginations.PageId == i ? "page-active" : "")">@i</a>
      }
    }
                                                  
    @if (paginations.PageId < paginations.TotalPages && paginations.PageId < paginations.TotalPages - 3)
    {
      @if (paginations.PageId < paginations.TotalPages - 4)
      {
        <span class="page-dots">...</span>
      }
      <a asp-action="Index" asp-route-IsPag="true"  asp-route-pagId="@paginations.TotalPages">@paginations.TotalPages</a>
    }
    <a asp-action="Index" asp-route-IsPag="true" asp-route-pagId="@(paginations.PageId+1)" class="@(paginations.PageId == paginations.TotalPages ? "page-disabled" : "")"  title="next page"><i class="fa fa-chevron-right"></i></a>
  </div>


</div>
