@model originalstoremada.Models.Produits.PrixProduit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Admin/templates/_Content.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PrixProduit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixAchat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixAchat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixVente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produit.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
