@model originalstoremada.Models.Produits.Commission

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Admin/templates/_Content.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Commission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantEuro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantEuro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategorieProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategorieProduit.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
