@model originalstoremada.Models.Boutiques.Boutique

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Admin/templates/_Content.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Boutique</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quartier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quartier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
