@model originalstoremada.Models.Produits.EntreeProduit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Admin/templates/_Content.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EntreeProduit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantiter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boutique)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boutique.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produit.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferenceProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferenceProduit.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
