@model IEnumerable<originalstoremada.Models.Produits.EntreeProduit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/templates/_Content.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantiter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boutique)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferenceProduit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantiter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boutique.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produit.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferenceProduit.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
