@using originalstoremada.C_
@using originalstoremada.Models.Evenements
@using originalstoremada.Models.Evenements.views
@using originalstoremada.Services
@model List<originalstoremada.Models.Evenements.views.VProduitEventReste>

@{
    Layout = RoutePath.ContentClient();
    Pagination<VProduitEventReste> paginations = ViewBag.paginations;
    Evenement events = ViewBag.events;
    bool isTerminer = ViewBag.isTerminer;
    bool isEnCours = ViewBag.isEnCours;
}

<!-- Page Title -->
@Html.Raw(HTMLClient.TitlePage($"Articles de l'événement #{Formattage.Numero(events.Id)}"))
<!-- Title page -->

<!----------------->



<div class="container-fluid">


<div class="card mb-3 border-0 mt-2">
    <div class="card-body border-0 bg-white">
        
        @if (isTerminer)
        {
            <button type="button" class="btn btn-danger disabled">
                <i class="fa fa-bell"></i> Evénement términer
            </button>
        }
        
        @if (isEnCours)
        {
            <button type="button" class="btn btn-success disabled">
                <i class="fa fa-bell"></i> Evénement en cours
            </button>
        }
        
        Articles du <strong>@Formattage.DateTime(events.DateDeb) - @Formattage.DateTime(events.DateFin)</strong>
    </div>
</div>

<div class="card mb-3 border-0 mt-2">
    <div class="card-body border-0 bg-white">
        Description de l'événement: <strong>@events.Description</strong>
    </div>
</div>
<!-- End Page Title -->

@if (ViewBag.error != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Invalide! @ViewBag.error</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="tab2-wrap">
            <table class="tab2">
                <thead>
                <tr>
                    <th class="pal6_bg2 text-white"></th>
                    <th class="pal6_bg2 text-white">Designation</th>
                    <th class="pal6_bg2 text-white">Prix &  Preference</th>
                    <th class="pal6_bg2 text-white">Quantiter</th>
                    <th class="pal6_bg2 text-white"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="alert" role="alert">
                        <td>
                            <a>
                                <img class="img-thumbnail" src="~/images/produits/@(item.Image != null ? $"minimize_{item.Image}" : "locks/minimize_vide.jpg") " alt="">
                                <i class="fe fe-edit-2" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <div class="pl-3 email">
                                <span>@item.Nom</span>
                                <span>@item.CategorieProduit.Nom</span>
                            </div>
                        </td>
                        <td>
                            <div class="pl-3 email">
                                <span>@Formattage.Valeur(item.Prix) <i class="fa fa-euro"></i></span>
                                <span>@Formattage.Valeur((double)item.PrixAriary) MGA </span>
                                <span>@item.Couleur / @item.Taille</span>
                            </div>
                        </td>
                        <td>
                            <div class="pl-3 email">
                                <span>Reste : <strong>@item.QuantiterReste</strong> </span>
                                <span></span>
                            </div>
                        </td>

                        <td>
                            <button type="button" class="btn but2-mod1 btn-sm" data-bs-toggle="modal" data-bs-target="#add_@item.Id">
                                <i class="fa fa-shopping-cart"></i> 
                                <span>Ajouter au panier</span>
                            </button>
                        </td>
                    </tr>
                    
                    /*-----------MODAL------------------*/
                    <div class="modal fade" id="add_@item.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="varyModalLabel">Ajout Au Panier <strong>#@Formattage.Numero(item.Id)</strong></h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form asp-action="AddToCart" asp-route-IdEvent="@item.IdEvenement" asp-route-IdproduitEvent="@item.Id" class="needs-validation" novalidate>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <img class="img-thumbnail" src="~/images/produits/@(item.Image != null ? $"minimize_{item.Image}" : "locks/minimize_vide.jpg") " alt="">
                                            </div>
                                            <div class="col-8">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">@item.Nom</li>
                                                    <li class="list-group-item">@Formattage.Valeur(item.Prix) <i class="fa fa-euro"></i></li>
                                                    <li class="list-group-item">@Formattage.Valeur((double)item.PrixAriary) MGA</li>
                                                    <li class="list-group-item">@item.Couleur / @item.Taille</li>
                                                    <li class="list-group-item">Reste : <strong>@item.QuantiterReste</strong></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Quantiter</label>
                                            <input name="Quantiter" value="1" type="number" step="any" class="form-control" id="recipient-name" placeholder="Nom du catégorie" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn mb-2 but2-mod3 btn-sm" data-bs-dismiss="modal"><i class="fa fa-close"></i>Annuler</button>
                                        <button type="submit" class="btn mb-2 but2-mod1 btn-sm"><i class="fe fe-check"></i> <span>Valider</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                <tr>
                    <th colspan="5"></th>
                </tr>
                </tbody>
            </table>
        </div>
        
        <div class="pagin1">
            <a asp-action="Details" asp-route-id_event="@events.Id"  asp-route-pagId="@(paginations.PageId - 1)" class="@(paginations.PageId == 1 ? "page-disabled" : "")" title="previous page"><i class="fa fa-chevron-left"></i></a>
            @if (paginations.PageId > 1 && paginations.PageId > 4)
            {
               
                <a asp-action="Details" asp-route-id_event="@events.Id"  asp-route-pagId="1">1</a>
                @if (paginations.PageId > 5)
                {
                    <span class="page-dots">...</span>
                }
            }
            @for (int i = paginations.PageId - 3; i <= paginations.PageId + 3; i++)
            {
                @if (i > 0 && i <= paginations.TotalPages)
                {
                    <a asp-action="Details" asp-route-id_event="@events.Id"  asp-route-pagId="@i" class="@(paginations.PageId == i ? "page-active" : "")">@i</a>
                }
            }
                                    
            @if (paginations.PageId < paginations.TotalPages && paginations.PageId < paginations.TotalPages - 3)
            {
                @if (paginations.PageId < paginations.TotalPages - 4)
                {
                    <span class="page-dots">...</span>
                }
                <a asp-action="Details" asp-route-id_event="@events.Id"  asp-route-pagId="@paginations.TotalPages">@paginations.TotalPages</a>
            }
            <a asp-action="Details" asp-route-id_event="@events.Id"  asp-route-pagId="@(paginations.PageId + 1)" class="@(paginations.PageId == paginations.TotalPages ? "page-disabled" : "")" title="next page"><i class="fa fa-chevron-right"></i></a>
        </div>
        
    </div>
</div>
</div>